@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
	transform: scale(1.15);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
	z-index: 100;
	border: none;
}
.active:after {
	content: '1P';
	position: absolute;
	text-align: center;
	top: -8px;
	left: 36%;
	font-size: 46px;
	color: red;
	font-weight: 700;
	text-shadow: 2px 2px 4px black;
}
@media (max-width: 848px) {
	.active:after {
		left: 31%;
	}
}
.active img {
	filter: grayscale(0);
	outline: 4px solid white;
	animation: flash 300ms linear;
}
.disabled img {
	filter: grayscale(1);
	pointer-events: none;
}

@keyframes flash {
	0% {
		filter: brightness(100%);
	}
	20% {
		filter: brightness(150%);
	}
	40% {
		filter: brightness(100%);
	}
	60% {
		filter: brightness(150%);
	}
	80% {
		filter: brightness(100%);
	}
	100% {
		filter: brightness(150%);
	}
}

@keyframes scroll-diagonal {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 551px 331px;
	}
}

:root {
	--border: #bbb;
}

html {
	height: 100vh;
	background-color: rgb(0, 0, 128);
	background: linear-gradient(180deg, rgba(0, 0, 128, 1) 0%, rgba(0, 0, 50, 1) 100%);
}
html.bh {
	background: rgb(139, 0, 0);
	background: linear-gradient(180deg, rgba(139, 0, 0, 1) 0%, rgba(40, 0, 0, 1) 100%);
}
html.hp {
	background: rgb(0, 100, 0);
	background: linear-gradient(180deg, rgba(0, 100, 0, 1) 0%, rgb(0, 30, 0) 100%);
}

body {
	background-image: url('/bg.png');
	background-origin: inherit;
	background-repeat: repeat;
	animation: scroll-diagonal 10s linear infinite;
}
