.container {
	display: flex;
	justify-content: center;
}

.button {
	background-color: purple;
	padding: 1em 2em;
	font-size: 24px;
	font-weight: bold;
	border-radius: 12px;
	border: 2px solid white;
	display: flex;
	flex-direction: column;

	&:hover {
		background-color: blue;
	}
}
