.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1200px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.page {
	display: flex;
	flex-direction: column;
	max-width: 900px;
	width: 100%;
	background-attachment: fixed;
	background-size: 700px;
	padding-bottom: 0px;
	min-height: 100vh;
}

.pageDetails {
	text-align: center;
	margin-bottom: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.pageDescription {
	font-size: 1.1rem;
	line-height: 1.5;
	width: 100%;
	max-width: 800px;
}
@media screen and (max-width: 420px) {
	.pageDescription {
		font-size: 1rem;
	}
}

.pageRow {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	transform: translateZ(0px);
	width: 100%;
	gap: 1rem;
}

.header {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* gap: 1rem; */
	margin: 1rem;
}

.headerLogo {
	width: 100%;
	height: auto;
	max-width: 500px;
}

.navContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 16px;
}

.iframe {
	width: 100%;
	max-width: 660px;
	border: none;
}

.episodesContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 720px;
	width: 100%;
}

.ratingsWrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 0.5rem;
}
