.container {
	display: flex;
	justify-content: center;
	margin: 1em 1em;
	visibility: hidden;
}

@media (max-width: 600px) {
	.container {
		margin-bottom: 6em;
	}
}

.bh {
	.bh_img.image {
		visibility: visible;
	}
	.hp_img.image {
		visibility: hidden;
		height: 0;
	}
}
.hp {
	.bh_img.image {
		visibility: hidden;
		height: 0;
	}
	.hp_img.image {
		visibility: visible;
	}
}
.bh,
.hp {
	visibility: visible;
}

.button {
	background-color: blue;
	padding: 1em 0.5em;
	font-size: 24px;
	font-weight: bold;
	border: 2px solid var(--border);
	display: flex;
	flex-direction: column;
	transition: all 0.25s;

	.image {
		width: 100%;
		height: 100%;
		max-width: 400px;
	}
}

.button:hover {
	background-color: purple;
}

@media (max-width: 600px) {
	.button {
		padding: 0.5em 0.25em;
	}
}
